<?xml version='1.0' encoding='utf-8'?>
<widget id="org.globalchristians.H2BaC" version="1.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>H2BAC</name>
    <icon src="icon.png" />
    <description>
        An app that explains how to become a Christian, and what it means to be a Christian.
    </description>
    <author email="h2bac@gmx.com" href="http://www.globalchristians.org/">
        John Edmiston
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-email" spec="^1.2.6" />
    <engine name="android" spec="~6.2.3" />
</widget>
