/*
 * This document contains the stylesheeting for all body content in the applications.
 *
 * The following contains the breakdown of elements and styles used within the document:
 *  - p elements are standard paragraphs
 *  - scripture class defines color, (italics?)
 *  - "paragraph" scriptures are independent (non-inline) scriptures
 *  - scriptrefs are scripture references, right-aligned.
 *  - indent class sets text to indented and italicised.
 */

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
    color: black;
    background-color: white;
    font-size: 16pt;
}

#content {
    margin: auto;
}

b,h1,h2,h3 {
    color: rgb(9, 125, 219);
}

p {
    padding: 0;
    margin: 6px 0 0;
}

.scripture {
    color: rgb(209, 127, 80);
    font-style: italic;
}

.scriptref {
    color: rgb(209, 127, 80);
    text-align: right;
    margin: 0 0 6px;
}

.indent {
    text-align: left;
    margin: 0 0 0 2em;
}

.prayButtons {
    float: left;
    width: 98%;
    display: flex;
    flex-direction: column;
}

.prayButton {
    background-color: rgb(9, 125, 219);
    border-radius: 5px;
    box-shadow: darkgray 4px 4px 4px;
    width: 95%;
    height: 50px;
    padding: 5px 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: em;
    color: white;
    line-height: 50px;
    padding: 15px;        
    border: 1px solid #666;
}

.buttonText {
    margin: auto auto;
}