/* Authors: Mark Smullen and Terry Penner
 * Date Created: March 13, 2014
 * Purpose: Supports the devotionalselection.html page
 */


body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	background-color:#333333;
	
	margin: 0;
	padding: 0;
}

button {
    display: block;
	float: left;
    
    border: 1px solid black;
    border-radius: 5px;
    
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.4),
        inset 0 -2px 4px rgba(0,0,0,0.5);
    
    background-color: #E6E6E6;
    
    width: 30%;
    height: 0;
    
    margin: 1.4%;
    padding-bottom: 30%;
}

button>p {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}