/* Authors: Mark Smullen and Terry Penner
 * Date Created: March 13, 2014
 * Purpose: Supports the devotionalselection.html page
 */

body {
	background-color:#333333;
	
	margin: 0;
	padding: 0;
}

button {
    display: block;
	float: left;
    
    border: 1px solid black;
    border-radius: 5px;
    
    box-shadow: 4px 4px 3px #B3B3B3;
    
    background-color: #E6E6E6;
    
    width: 30%;
    height: 0;
    
    margin: 1.4%;
	padding-bottom: 30%;
}

button>p {
    margin: auto;
    text-align: center;
    font-size: 2em;
}