/* Authors: Mark Smullen and Terry Penner
 * Date Created: March 11, 2014
 * Purpose: Supports the index.html page
 */

body {
    background-color:#333333;
	
    height:100%;
	width:100%;
	
    margin:0px;
    padding:0px;
}

button {
    display: block;
    
    border: 1px solid black;
    border-radius: 5px;
    
    box-shadow: 4px 4px 3px #B3B3B3;
    
    background-color: #E6E6E6;
    
    width: 70%;
    height: 70px;
    
    margin: 50px auto;
}

button>p {
    margin: auto;
    text-align: center;
    font-size: 2em;
}