/* Authors: Mark Smullen and Terry Penner
 * Date Created: March 11, 2014
 * Purpose: Supports the index.html page
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #333333;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-position: 50% 0%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 100%;
}

.access-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.access-content-buttons {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.access-content-button {
    border: 0 solid black;
    background-color: white;
    border: 1px solid lightgray;
    width: 50%;
    height: 200px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(9, 125, 219);
}

.buttonIcon {
    height: 40px;
}
