/* Authors: Mark Smullen and Terry Penner
 * Date Created: March 14, 2014
 * Purpose: Supports the h2bac.html and devotionalpages.html pages
 */

body {
	margin-top: 76px;
}

#title {
	text-align: center;
}

#about {
	float: right;
	padding: 0;
	margin-right: 6px;

	width: 64px;
	height: 64px;
	background: #333;
	border-radius: 50%;

	text-align: center;
	vertical-align: middle;
	line-height: 64px;
	font-size: 32px;
	font-style: italic;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	
	color: white;
}

#backbutton {
	float: left;

	width: 0;
	height: 0;

	border-top: 32px solid transparent;
	border-bottom: 32px solid transparent;
	border-right: 64px solid #333;
	margin-right: 64px;
}

#backbuttonplaceholder {
	float: left;

	width: 64px;
	height: 64px;
	margin-right: 64px;
}

#topmenu {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 64px;
	
	padding: 4px;
	
	border-bottom: 2px solid black;
	
	background-color: #666;
}

#menu {
	float: right;
	
    width: 64px;
    min-width: 64px;
    height: 64px;
	
	padding: 6px;
	
	border: 1px solid black;
	border-bottom-left-radius: 15px;
	background-color: rgba(245,245,245,0.5); /* whitesmoke */
}

#menubutton {
	float: right;
	
	margin-right: 12px;
	
	z-index: 3;
	
	width: 64px;
    min-width: 64px;
    height: 64px;
	
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#menudropdown {
    position: absolute;
    top: 73px;
    right: 5px;
	z-index: 2;
	
	border: 1px solid black;
	border-bottom-left-radius: 15px;
	border-top: 0;
	
	width: 76px;
	height: 30px;
    
	padding-top: 15px;
    
    display: none;
	background-color: whitesmoke;
}

#font1 {
	width: 24px;
	height: 24px;
	float: right;
	background-image: url("../img/16pt.png");
	background-repeat: no-repeat;
	margin-bottom: 0;
}

#font2 {
	width: 24px;
	height: 24px;
	float: right;
	background-image: url("../img/19pt.png");
	background-repeat: no-repeat;
}

#font3 {
	width: 24px;
	height: 24px;
	float: right;
	background-image: url("../img/22pt.png");
	background-repeat: no-repeat;
}
