#menubutton {
    position: fixed;
    top: 0;
    right: 0;
    
    z-index: 1;
    
    width: 32px;
    height: 32px;
    
    background-color: black;
    color: white;
}

#menu {
    position: fixed;
    top: 32px;
    right: 0;
    
    display: none;
    
    width: 100px;
    height: 200px;
    
    background-color: black;
    color: white;
}

#footer {
    background: white;
    
    border-top: solid black 1px;
    border-radius: 5px;
    
    position:fixed;
    bottom:0;
    
    margin: 0 auto 0;
    width: 95%;
}