body {
    margin: 0;
    padding: 0;
}

#menubutton {
    position: fixed;
    top: 0;
    right: 0;
    
    z-index: 1;
    
    width: 32px;
    height: 32px;
    
    background-color: black;
    color: white;
}

#menu {
    position: fixed;
    top: 32px;
    right: 0;
    
    display: none;
    
    width: 100px;
    height: 200px;
    
    background-color: black;
    color: white;
}

#footer {
    background: white;
    
    border-top: solid black 1px;
    
    position:fixed;
    bottom:0;
    
    padding: -15px 0 0;
    margin: -15px auto 0;
    width: 100%;
    
    max-height: 40px;
}

#content {
    margin: 0 8px 50px;
}